.title {
  position: absolute;
  top: 0;
  right: 0;
  width: 282px;
  padding: 16px 14px 14px;
  border: 1px solid #ccc;
  border-top-width: 0;
  background-color: hsl(40, 80%, 98%);
}

.title h1 {
  font-size: 28px;
  color: #444;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 14px;
}

.title .legend {
  margin-bottom: 12px;
}

.title .legend li {
  padding-bottom: 1px;
}

.title .legend .symbol {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid #aaa;
}

.title .legend h3 {
  display: inline-block;
  color: #444;
  padding: 0 4px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

.source {
  font-size: 10px;
  line-height: 12px;
  color: #888;
}

.source h3 {
  display: inline;
  font-weight: bold;
}

.source a {
  color: #888;
  text-decoration: underline;
  cursor: pointer;
}

.source a:hover {
  color: #222;
}
